<ion-view title="Global search" id="globalSrch" style="background-color:whitesmoke" >
    <ion-content padding="true" class="has-header">
        
        
        <form class="list">
            <label  class="item item-select">
                <input id="searchTitle" type="search" placeholder="Titel (Required)" required ng-model="inputvalue"> 
               <!-- <span class="input-label">Type</span>-->
                <select id="selectedMain">
                    <option>Titel</option>
                    <option>Actor</option>
                    <option>Rating</option>
                </select>
                
            </label>
            
            <label  class="item item-input">
                <input id="searchYear" type="search" placeholder="Year (Optional)">
            </label>
                

            <label class="item item-select">
                <span class="input-label">Type</span>
                <select id="selectedType">
                    <option>Any</option>
                    <option>Movie</option>
                    <option>Series</option>
                    <option>Episode</option>
                </select>
            </label>

            <label class="item item-select">
                <span class="input-label">Results on Page</span>
                <select id="selectedResPerPage">
                    <option>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>all</option>
                </select>
            </label>
            
            <button type="submit" ng-click="search()"  class="button button-block button-positive" >
                Search
            </button>
        </form>
        
        
        

    </ion-content>
</ion-view>