<ion-view title="Results" id="page2">
    <ion-content padding="true" class="has-header"> 
       
        <ion-list>
            
        <div ng-repeat="film in foundFilms" class="list card">
            <div class="item item-divider">{{ film.Title }} ({{ film.Year }})</div>
            <div class="item item-body">
                <div ng-show="film.Poster">
                    <img src="{{ film.Poster }}" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <div id="wanted-markdown1" style="color:#000000;">
                    <p>{{ film.Plot }} </p>
                </div>
                <div class="button-bar">
                    <a ng-click="addToWanted({{film}})" id="wanted-button5" class="button button-positive ion-ios-list-outline  button-block icon ion-android-add"></a>
                    <a ng-click="addToCalendar( {{film}} )" id="calendar-button1" class="button button-positive  button-block icon ion-android-calendar"></a>
                       <a ng-click="goToMovieDescr({{film}})" id="wanted-button7" class="button button-positive  button-block icon ion-information-circled"></a>
                </div>
            </div>
        </div>
        </ion-list>
        
    </ion-content>
</ion-view>