<ion-view title="Details" id="page2">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">{{ film.Title }} ({{ film.Year }})</div>
            <div class="item item-body">
                
                <div ng-if="film.Poster != null && film.Poster != 'N/A'">
                    <img src="{{film.Poster}}" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                
                <div ng-if="film.trailer.videoURL != null && film.trailer.videoURL != 'N/A'">
                    <button class="button button-small button-block button-outline icon-right ion-ios-videocam button-positive"
                    ng-click="openTrailer(film.trailer.videoURL)">
                        Watch trailer
                    </button>
                </div>
                
                <div ng-if="film.Plot != null && film.Plot != 'N/A'" id="moviedescription-markdown3" style="color:#000000;">
                    <h2 id="moviedescription-heading1" style="color:#000000;">Plot</h2>
                    <p>{{ film.Plot }}</p>
                </div>        
                
                
                <div ng-if="film.Rating != null && film.Rating != 'N/A'" id="moviedescription-markdown5" style="color:#000000;">
                    <hr>
                    <h2 id="moviedescription-heading2" style="color:#000000;">IMDB Rating </h2>
                    <p>{{film.Rating}}</p>
                </div> 

                
                <div ng-if="film.Actors != null && film.Actors != 'N/A'" id="moviedescription-markdown5" style="color:#000000;">
                    <hr>
                    <h2 id="moviedescription-heading2" style="color:#000000;">Actors</h2>
                    <p>{{film.Actors}}</p>
                </div>
                
            </div>
        </div>
    </ion-content>
</ion-view>