<ion-view title="Settings" id="settings">
        <ion-content padding="true" class="has-header">
           <div class="card">
                <div class="item item-divider">
                General Settings           
            </div>
               <div ng-controller="settingsCtrl" class="item item-text-wrap">
                <button ng-click="deleteLists()" class="button button-block button-assertive">
            DELETE LISTS
        </button>
                </div>
                </div>
            
           
            
        </ion-content>
</ion-view>